%article.jobs
	%section.intro
		%h1.page-title Come on in, the water's great.
		%p.lede
			Sharktank is a great place to work. With an emphasis on collaboration and professional growth, you'll find a challenging and fulfilling position on our team.

		.openings
			%h2 Current openings
			%ul.job-list
				%li= link_to "Mid-Senior Developer", "#ruby"
				%li= link_to "Front-End Developer", "#front-end"

	%section.about-us
		.we-are
			%h2 Who we are
			%p
				Palatinate Group Limited is a UK-based leisure and holiday specialist based in the trendy Farringdon area of London. Our business is focused in the Golf, Spa and Horse Racing markets with the majority of our business being generated through YourGolfTravel.com and Spabreaks.com
			%p
				With a team of over 100 employees we are dedicated not only to growing and improving our current sites but also to developing and launching new sites, constantly growing our portfolio and retaining the buzz that comes with the 'start up' feel and culture.

		.we-offer
			%h2 What we offer
			%p
				We'll provide you with all the tools (Mac or PC) that you need to do your job well, and our tech team is moving into a newly-refurbished space later this year. We're based in central London (in fashionable Clerkenwell Green), so there’s lots of opportunity to enjoy oneself outside the office - we like to think of ourselves as a very sociable team!
			%p
				We can offer a fun, fast-paced working environment, the ability to develop your skills and experience through collaboration with other designers and developers, a competitive salary, and the freedom to put good ideas into production quickly and measure how they perform.



	%section.spec#ruby
		%h2.spec-title Mid-Senior Developer

		%p.lede
			Want to work with Ruby on Rails for London's fastest growing company?

		:markdown
			Palatinate Group Limited is a UK-based leisure and holiday specialist and is formed in part by Europe’s largest golf travel business (#{link_to "www.yourgolftravel.com", "http://www.yourgolftravel.com"}) and the UK’s largest supplier of spa breaks (#{link_to "www.spabreaks.com", "http://www.spabreaks.com"}). We are looking for mid-level and senior developers to expand our current team of eleven based in our central London offices.

			We use Ruby on Rails extensively, but you’ll also find Go and Python in our tech stack, along with fair amount of Javascript. Pairing is well-established in our team, and we believe in test-driving the majority of our code.

			As a Mid Level Developer you will have the chance to significantly impact upon the shape of a large number of internal and external systems, and you will be able to shape your role within the team to fit your particular brand of technical skills.

			As a Senior Developer you will be involved in the design, development, testing, release, management and maintenance of various software solutions as well as mentoring junior team members and helping to improve our Agile development processes. This is an ideal position for an enthusiastic developer who enjoys finding the best solutions in collaboration with developers and works hard to ensure their share of the product is ready on time.

			### What we like

			+ Ruby on Rails (preferably 3+)
			+ ECMAScript and jQuery
			+ Test-driven development
			+ Git (we like ninja-like skills here!)
			+ CouchDB
			+ Horizontal scaling
			+ Agile/scrum

			### Who we like

			We want to employ people who:

			+ Enjoy life in and outside the office
			+ Work hard and enjoy their work
			+ Are active in the Ruby/Rails communities
			+ Are excellent communicators
			+ Enjoy having their ideas challenged
			+ Are not afraid to tell us how we can get stuff done faster and better
			+ Enjoy pairing
			+ Care about web standards
			+ Love simplicity
			+ Aren't scared of getting involved in devops/sysops
			+ Can be pragmatic (we love rocket scientists, but we like them to come down to earth when necessary!)

			If you think you might be a good fit for our team, get in touch with your CV and a paragraph about yourself. We'll pay £35-50k, depending on your experience, and we run a company share scheme for exceptional members of staff.

			If you come for an interview with us you'll get to meet every member of the team - our hiring process is as collaborative as the way we code. Everyone who comes for interview here will pair program some code during their interview.

		= link_to "Apply Now", "/contact.html", :class => "apply-button"

	%section.spec#front-end
		%h2.spec-title Front-End Developer

		:markdown
			Palatinate Group Limited is a UK-based leisure and holiday specialist and is formed in part by Europe’s largest golf travel business (#{link_to "www.yourgolftravel.com", "http://www.yourgolftravel.com"}) and the UK’s largest supplier of spa breaks (#{link_to "www.spabreaks.com", "http://www.spabreaks.com"}).

			We’re looking for a frontend developer/designer with the talent and experience to make purchasing holidays via our websites quick, simple and fun on all the devices our customers choose to use.

			Our ideal candidate will:

			+ Be at home with tools ranging from pen and paper and Photoshop through to Chrome’s profiling tools and network panel
			+ Have an eye for good web design and UX, but be content to make data-driven choices through split testing on production sites
			+ Understand how design choices can affect page weight and rendering performance
			+ Be comfortable mentoring two web designers, integrating them more closely into our development processes
			+ Be able to prototype quickly using a variety of tools, knowing the minimum level of fidelity necessary to get accurate feedback from others
			+ Care deeply about standards compliance, cross-browser compatibility and graceful degradation on less capable devices/browsers
			+ Have a good understanding of the new capabilities available with HTML5, CSS3 and ES5+, and be able to code fluently in those languages
			+ Have played with client-side JS frameworks like Knockout.js, Ember.js, AngularJS and/or Backbone, and understand the trade-offs associated with their use
			+ Be comfortable in an agile environment
			+ Have experience of automated client- and server-side testing and TDD

			We use Ruby on Rails a lot, but we’re technology-agnostic when it comes to hiring - we care more about your ability to learn than the tech stacks you’ve been exposed to.

			If you think you might be a good fit for our team, get in touch with your CV and a paragraph about yourself. We'll pay a competitive salary depending on your experience, and we run a company share scheme for exceptional members of staff.

		= link_to "Apply Now", "/contact.html", :class => "apply-button"
